.parent {
    position:relative;
}
.skill-parent{
    padding-bottom:40px;
}
.secondRowAccent {
    position:absolute;
    top:-150px;
    width:100%;
}
.laptop {
    position:absolute;
    z-index:10;
}


.icon {
    margin-left:0px;
    padding-right:10px;
}


@media only screen and (max-width: 1750px) {
    .secondRowAccent {
        top:-140px;
    }


  }
@media only screen and (max-width: 1650px) {
    .secondRowAccent {
        top:-130px;
    } 
  }

  @media only screen and (max-width: 1550px) {
    .secondRowAccent {
        top:-120px;
    }
    
  }
  @media only screen and (max-width: 1450px) {
    .secondRowAccent {
        top:-105px;
    }
    

}


  @media only screen and (max-width: 1250px) {
    .secondRowAccent {
        top:-95px;
    }

    
  }
  @media only screen and (max-width: 1150px) {
    .secondRowAccent {
        visibility:hidden;
    }

    
  }
