.parent {
    position:relative;
}

.secondRowAccent {
    position:absolute;
    top:-150px;
    width:100%;
}
.laptop {
    position:absolute;
    bottom:-90px;
    right:0;
    z-index:10;
    height:400px;
}


.icon {
    margin-left:0px;
    padding-right:10px;
}


