.background-image {
    position: absolute;
    top:0;
}
.parent {
    position:relative;
    
}

.stickyChild {
    position: sticky;
    top:10px;
    right:0px;
    color:grey;
    font-size:13pt;
    position: sticky;
    background-color:#1b1b1b;

}