.inline-react-icons{
    margin-right:10px;
    margin-top:10px;
    margin-left:30px;
}

.inline-react-icons2 {
    margin-right:10px;
    margin-top:10px;
    margin-left:300px;
 
}
.inline-react-icons3 {
    margin-right:10px;
    margin-top:10px;
    margin-left:250px;

 
}
.inline-react-icons4 {
    margin-right:10px;
    margin-top:10px;
    margin-left:280px;
 
}