.parent {
  position: relative;
}
.project-main-div {
  margin-top:50px;
}
.child{
  position: absolute;
  height:300px;
  top:600px;
  left:0;
  z-index:-10;
  overflow-x: visible;
}
@media only screen and (max-width: 1500px) {
    .title {
      margin-top:-100px;
    }
  }


  @media only screen and (max-width: 1250px){
    .title {
        margin-top:0px;
      } 
      .project-main-div {
        margin-top:-150px;
      }

}


@media only screen and (max-width:1000px){
  .grid {
      grid-template-columns: 100%;
    } 
  .grid-item-proj{
    margin-left:50px;
  }
  .project-main-div {
    margin-top:-150px;
  }
}


@media only screen and (max-width:700px){
  .grid-item-proj{
    margin-left:15px;
    width:380px;
    height:380px;
  }
  .card-descrip-proj {
    margin-top:-25px;
    font-size:1.2em;
  }
}

@media only screen and (max-width:500px){
  .grid-item-proj{
    margin-left:10px;
    width:340px;
    height:320px;
  }

}