.parent {
  position: relative;
}
.project-main-div {
  margin-top:50px;
  font-family:Lora;
  z-index:10;
}
.child{
  position: absolute;
  height:300px;
  top:600px;
  left:0;
  z-index:-10;
  overflow-x: visible;
}
